@import "./variables";
@import "./navbar.scss";
@import "./title.scss";
@import "./product.scss";
@import "./singleProduct.scss";

html,
body {
	padding: 0;
	margin: 0;
	font-family: Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
		Helvetica Neue, sans-serif;
}
* {
	box-sizing: border-box;
}
a,
button,
svg {
	text-decoration: none;
	cursor: pointer;
}
.text-main {
	color: $primaryColor;
}
